.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
  background: none;
  border: none;
}

.navbar-toggle .icon-bar {
  height: 3px;
  background-color: none;
}

body nav.navbar-default {
  background: none;
  border: none;
}

body nav.navbar-default ul li.active {
  background: none;
  border-bottom: 2px solid #33ccff;
}

body .navbar-default .navbar-nav > li > a {
  color: #000000;
  font-weight: bold;
}

body nav.navbar-default .navbar-nav > .active > a {
  background: none;
  color: #000000;
}

body nav.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: #000000;
}

body p, p {
  color: #333333;
  font-size: 1.188em;
  line-height: 1.3em;
}

body h1, h1 {
  color: #000000;
  font-size: 4.2em;
}

@media (min-width: 768px) {
  .fade-in {
    opacity: 0;
    -webkit-transition: opacity 1.3s ease-in;
       -moz-transition: opacity 1.3s ease-in;
        -ms-transition: opacity 1.3s ease-in;
         -o-transition: opacity 1.3s ease-in;
            transition: opacity 1.3s ease-in;
  }
}

@media (max-width: 768px) {
  .fade-in {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
  }
}

.visible {
  opacity: 1;
}